@font-face {
  font-family: "Jokerman Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/Jokerman Regular.ttf") format("truetype");
}

@font-face {
  font-family: "segoeprint_bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/segoeprint_bold.ttf") format("truetype");
}

@font-face {
  font-family: "segoeprint";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/segoeprint.ttf") format("truetype");
}

@font-face {
  font-family: "Stylus BT";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/Stylus BT.ttf") format("truetype");
}