@font-face {
  font-family: "Jokerman";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Jokerman.ttf") format("truetype");
}

@font-face {
  font-family: "segoeprint bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/segoeprint bold.ttf") format("truetype");
}

@font-face {
  font-family: "segoeprint";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/segoeprint.ttf") format("truetype");
}

@font-face {
  font-family: "Stylus BT";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Stylus BT.ttf") format("truetype");
}